Obedar.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/xcschememanagement.plist
Obedar.xcworkspace/xcuserdata/marekpridal.xcuserdatad/UserInterfaceState.xcuserstate
Obedar.xcworkspace/xcuserdata/marekpridal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/Pods-Obedar.xcscheme
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/Reusable.xcscheme
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/RxCocoa.xcscheme
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/RxSwift.xcscheme
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
Pods/Pods.xcodeproj/xcuserdata/marekpridal.xcuserdatad/xcschemes/xcschememanagement.plist
